

@import url('https://fonts.googleapis.com/css?family=Poppins:200,400,600&display=swap');

$top-border: 10px solid;

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    color: hsl(234, 12%, 34%)
}
header p {
    font-size: 4.35em;
    margin: 0;
    padding: 0;
    &:nth-child(1) {
        font-weight: 200;
    }
    &:nth-child(2) {
        font-weight: 600;
    }
    &:nth-child(3) {
        font-weight: 400;
        font-size: 1.2em;
        margin-top: 50px;
        line-height: 3.5em;
        color: hsl(229, 6%, 66%)
    }
}

.cards {
    .card {
        margin-left: 1em;
        margin-right: 1em;
        border-radius: 15px;
        &:nth-child(1) {
            border-top: $top-border hsl(180, 62%, 55%);
        }
        &:nth-child(2) {
            border-top: $top-border hsl(0, 78%, 62%);
        }
        &:nth-child(3) {
            border-top: $top-border hsl(34, 97%, 64%);
        }
        &:nth-child(4) {
            border-top: $top-border hsl(212, 86%, 64%);
        }
        .card-title {
            font-weight: 600;
        }
        .card-paragraph {
            margin-top: 20px;
            color: hsl(229, 6%, 66%);
            line-height: 3.5em;
        }
    }
}

@media (min-width: 375px) {
    header {
        margin: 5em 1em 7em;
        padding: 3em;
        text-align: center;
    }
    .cards {
        .card {
            padding: 5em;
            margin-bottom: 5em;
            box-shadow: 0 20px 70px 0 rgba(0, 0, 0, 0.15);
            .card-title {
                font-size: 4em;
            }
        }
    }
    .card-image {
        display: flex;
        justify-content: flex-end;
        img {
            margin-top: 80px;
            min-width: 20%;
        }
    }
}