

@import url('https://fonts.googleapis.com/css?family=Poppins:200,400,600&display=swap');

$top-border: 10px solid;

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    color: hsl(234, 12%, 34%);
    font-size: 15px;
}

header {
    text-align: center;
    p {
        margin: 0;
        padding: 0;
        &:nth-child(1) {
            font-weight: 200;
        }
        &:nth-child(2) {
            font-weight: 600;
        }
        &:nth-child(3) {
            font-weight: 400;
            margin-top: 30px;
            color: hsl(229, 6%, 66%)
        }
    }
}

.cards {
    .card {
        border-radius: 10px;
        &:first-child {
            border-top: $top-border hsl(180, 62%, 55%);
        }
        &:last-child {
            border-top: $top-border hsl(212, 86%, 64%);
        }
        .card-title {
            font-weight: 600;
        }
        .card-paragraph {
            color: hsl(229, 6%, 66%);
            margin-top: 20px;
            line-height: 2em;
        }
        .card-image {
            display: flex;
            justify-content: flex-end;
            img {
                margin-top: 20px;
                width: 20%;
            }
        }
    }
    // this overrides the first and last child of the original .card class
    // otherwise, it would use the blue colours
    .extra-div > .card {
        &:first-child {
            border-top: $top-border hsl(0, 78%, 62%);
        }   
        &:last-child {
            border-top: $top-border hsl(34, 97%, 64%);
        }     
    }
}

@media (min-width: 375px) {
    header {
        margin-top: 2em;
        margin-bottom: 3em;
        padding: 1.5em;
        p {
            font-size: 1.75em;
            &:nth-child(3) {
                font-size: 1.1em;
                line-height: 2rem;
            }
        }
    }
    .cards {
        .card {
            margin-left: 2em;
            margin-right: 2em;
            padding: 2em;
            margin-bottom: 5em;
            box-shadow: 0 20px 70px 0 rgba(0, 0, 0, 0.15);
            .card-title {
                font-size: 2em;
            }
        }
    }
}

@media (min-width: 1440px) {
    header {
        width: 40%;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 3em;
        margin-top: 2em;
        p {
            font-size: 2.5em;
            &:nth-child(3) {
                font-size: 1.25em;
                line-height: 2rem;
            }
        }
    }
    .cards {
        display: flex;
        justify-content: center;
        align-items: center;
        .card {
            margin-left: 1em;
            margin-right: 1em;
            width: 300px;
            height: 200px;
            padding: 2.5em;
            .card-title {
                font-size: 1.5em;
            }
        }
        // getting rid of the unnecessary extra space between middle boxes
        .extra-div {
            & > .card:nth-child(1) {
                margin-bottom: 2em;
            }
        }
    }
}